<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="{% url "ticket_buy" screening.id %}" method="post">
    {% csrf_token %}
    {{ ticket_form.as_p }}
    <button type="submit">Buy</button>
</form>
<br>
Total Price: <span id="totalPrice">0.00</span>

<script>
    function calculateTotalPrice() {
        var price = {{ screening.price }};
        var quantity = parseInt(document.getElementById('id_quantity').value);
        var totalPrice = price * quantity;
        document.getElementById('totalPrice').innerHTML = totalPrice.toFixed(2);
    }
</script>

</body>
</html>
